
html, body {height: 100%}

html {display: table; margin: auto;}

body {
	background: #282a36;
	display: table-cell;
	vertical-align: middle;
	/*top: 50px;*/
	font-family: "consolas", sans-sefif;
}

footer {
	color: white;
	background-color: #282a36;
	text-align: center;
	padding: 2px;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

a:link {
	color: #ffb86c;
}

a:visited {
	color: #ffb86c
}

h1 {
	color: white;
	line-height: 16px;
	padding: 10px 0;
	text-align: center;
}

p {
	color: white;
	left: 35%;
	font-family: "consolas", sans-sefif;
	font-size: 18px;
}
